<div ng-controller="ViewHabitCtrl as ctrl">
  <div class="row">
    <div class="col-md-3">
      <label for="name">Name:</label>
    </div>
    <div class="col-md-5">
      <input class="form-control" type="text" id="name" ng-model="ctrl.addhabit.name">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="time">Time:</label>
    </div>
    <div class="col-md-5">
      <input class="form-control" type="text" id="time" ng-model="ctrl.addhabit.time">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
      <input class="form-control" type="button" ng-click="ctrl.sendAddForm()" value="Add Habit">
      <br>
    </div>
  </div>
</div>